html,
body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #4da2ff;
    background-image: url(./img/pattern.png);
    background-size: contain;
    padding: 60px 0 15px 0px;
}

main {
    padding: 5px;
}

.article-introduction {}

.article-introduction h1 {
    font-weight: 900;
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 0px;
}

.img-caption {
    font-size: 12px;
}